
.about-container {
    padding: 20px;
    text-align: center;
}

.header h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.follow-me {
    margin-top: 20px;
}

.follow-me p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.logos {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.logo {
    height: 80px;
    transition: transform 0.3s;
}

.logo:hover {
    transform: scale(1.1);
}