
.services-container {
    padding: 20px;
    text-align: center;
}

.textComplement p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.cards-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap; /* Permite que las cartas se ajusten en varias filas si es necesario */
}