  /* div{
    border: 1px solid  rgb(232, 142, 39);
  } */

  html, body {
    height: 100%; /* Para asegurar que la altura esté al 100% de la página */
    margin: 0;
    padding: 0;
  }

  body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
  }

  footer {
    position: fixed; /* Fijo en la parte inferior de la página */
    bottom: 0; /* Mantener el footer en la parte inferior */
    width: 100%; /* Asegurar que el footer cubra todo el ancho */
    background-color: rgba(1, 1, 77, 0.728); /* Fondo del footer */
    color: white; /* Color del texto */
    text-align: center; /* Centrar el texto */
    padding: 10px 0; /* Espaciado arriba y abajo */
    font-size: small;
  }

  footer p {
      margin: 0; /* Eliminar márgenes extra alrededor del texto */
  }